@model IEnumerable<String>

@{
    ViewBag.Title = "热词一览";
}

<div id="breadcrumbs">
    <ul>
        <li>@Html.ActionLink("知识管理", "Categories", "CMS") </li>
        <li><a href="#">@ViewBag.Title</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Hot Words
    </div>
    <div class="panel-body">
        <hr />
        @foreach (String keyword in Model)
        {
            <a href="~/CMS/Search/@keyword" class="category-item btn btn-default"><b>@keyword</b></a>
        }
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        &nbsp;
    </div>
</div>
