html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    margin: 0;
    padding: 0;
    font-family:"宋体" Arial;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;    
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;        
    }

    a:hover {
        text-decoration: underline;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 30px !important;
    font-family: 黑体 !important;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 0px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") 20px 0 no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-size: 2.3em;
    margin: 0;
    font-weight:bold;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #009EA1;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 10px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 1px solid #999;
}

th {
    font-size: 1.1em;
    text-align: center;
    border: 1px solid #999;
    padding:5px;
    background-color:#c7d1d6;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 5px;
    border: 1px solid #999;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

.center{
    text-align:center
}

.panel-heading{
    color: #555;
    font-family: fantasy;
}


.pie-container{
    float:left;
    width:280px;
    height:260px;
    border:1px solid #ccc; 
    text-align:center;
    margin:20px 12px;
}
#chart-placeholder1,
#chart-placeholder2,
#chart-placeholder3
{
    width:280px;
    height:260px;
    margin:auto;
}

.pie-container .legend  table,
.pie-container .legend td {
    border: none;
    font-size:0.7em;
    padding:1px;
    text-align:left;
    margin-top:-10px;
}


ul.dropdown-menu 
{
    border: solid 2px #009EA1;
    padding: 0px 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
    border: solid 2px #009EA1;
    background-color: #009EA1 !important;
    color:white !important;
    border-bottom:none;
}
.dropdown-menu .divider
{
    margin:0 !important;
}
.dropdown-menu>li>a
{
    padding: 15px !important;    
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    background-color: #ddd !important;
}


<!-- Chat CSS -->
#chat-container{
    background-color: #999;
    
}

.clear{
    clear:both;
    height:0px;
    line-height:0px;
}

.chat-panel{
    margin-top:-30px;
}

.chat-right{
    height: 481px;
    width: 350px;
    float: right;
    background-color:#eee;
}
.chat-left{
    width: 928px;
    background-color: #eee;
    float: left;
}
.nav {
    padding-left: 15px !important;
}
.nav-tabs {
    border-bottom: 1px solid #ddd !important;
    background: #eee !important;
}
.tab-content
{
    padding: 10px 15px;
    border-left: 1px solid #ddd;
    height: 440px;
    overflow: auto;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0;
    background-color: #eee !important;
    /*border-bottom: 1px solid transparent !important;*/
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd !important;
    /*border-bottom-color: transparent !important;*/
    background: #aaa !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff !important;
}


#chat-content-container{
    width: 100%;
    background-color: #fff;
    height: 350px;
    overflow-y: auto;
    padding:10px 5px;
    font-size:13px;
}
#chat-input-container{
    width: 100%;    
    height: 90px;
    border-top: 1px solid #ddd;
    padding: 5px 15px;
}
.chat-answer{
    width:100%;
}

.chat-answer .answer-name,
.chat-question .question-name
{
    color:#009EA1;
}
.chat-question
{
    width:100%;
    text-align:right;
    clear:both;
}


.cms-tool-bar{
    text-align:right;
}
.btn-primary,
.btn-warning,
.btn-success{
    color: white !important;
}

.copyrights-footer{
    color:#009EA1;
    font-weight:bold;
}
.dataTables_length{
    font-size:12px;
}
.dataTables_filter
{
    font-size:12px;
    margin-top:-10px;
}




.category-info{
    font-size: 0.8em;
    font-style: italic;
    color: #aaa;
}
.keyword-tips{
    color: #aaa;
    font-style: italic;
    text-align: right;
}

#myQuestion
{
    height: 50px;
    padding: 0 10px;
    margin-top: 2px;
    z-index: 999;
    width: 840px;
}
#sendBtn
{
    float: right;    
    z-index: 10000;
    margin: 10px 0;
}
#current-category
{
    padding-left: 5px;
    font-weight: bold;
}

#TabCategory h5,
#TabHotTopic h5{
    font-weight:bold;
    color:#666;   
}
#TabCategory a,
#TabHotTopic a{
    padding: 0px;
    color: #009EA1;
    text-decoration:none;    
}

.result a{color: #009EA1;}

.answer-content{
    line-height: 1.6em;
    border: 1px solid #D7D7D7;
    background: #f6f6f6;
    padding: 13px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    float: left;
    margin-top: 0px;
    max-width: 650px;
}
.answer-content-after {
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    border: 6px solid transparent;
    border-left: 0;
    border-right: 6px solid #D7D7D7;
    position: relative;
    left: -6px;
    top: 25px;
}
.answer-name
{
    text-align: center;
    display: block;
    width: 65px;
    padding-top: 50px;
    float: left;
    background: url(./images/ava_5.png) no-repeat center top;
    background-size:75%;
}

.question-content {
    line-height: 1.6em;
    text-align: left;
    border: 1px solid #9DDD85;
    background: #b0f495;
    padding: 13px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-top:1px;
    max-width: 650px;
}
.question-name{
    text-align: center;
    float: right;
    display: block;
    width: 50px;
    padding-top: 43px;
    background: url(./images/ava_2.png) no-repeat center top;
    background-size: 85%;
}
.question-content-after{
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    border: 6px solid transparent;
    /* border-left: 0; */
    /* border-right: 6px solid #D7D7D7; */
    position: relative;
    /* left: -6px; */
    top: 12px;
    border-right: 0;
    border-left: 6px solid #9DDD85;
    left: auto;
    right: 0px;
    float: right;
}